In [22]:
import random
import json
import requests
import pandas as pd
import configparser
import matplotlib.pyplot as plt
import gmaps
from pprint import pprint
config = configparser.ConfigParser()
#config.read('../../API_keys/config.py')
config.read('../../../API_keys/config.py')
gkey = config['DEFAULT']['G_KEY']
gmaps.configure(api_key=gkey)

In [24]:
cities_df = pd.read_csv('../Resources/Cities_dataframe.csv')
cities_df.dropna(inplace = True) 
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,chokurdakh,70.63,147.92,34.95,96,38,14.94,RU,1601488077
1,nikolskoye,59.70,30.79,55.40,82,20,6.71,RU,1601488077
2,bluff,-46.60,168.33,37.99,94,61,3.00,NZ,1601488077
3,punta arenas,-53.15,-70.92,37.40,59,75,35.57,CL,1601487894
4,faya,18.39,42.45,69.80,64,14,5.82,SA,1601488078

In [25]:
locations = cities_df[["Lat", "Lng"]]
humidity = cities_df["Humidity"].astype(float)

In [26]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
# sort by 
  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

In [34]:
ideal_cities_df = cities_df.loc[cities_df["Max Temp"] < 80]
ideal_cities_df = ideal_cities_df.loc[ideal_cities_df["Max Temp"] > 70]
ideal_cities_df = ideal_cities_df.loc[ideal_cities_df["Cloudiness"] == 0]
ideal_cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
49,nouadhibou,20.93,-17.03,77.00,69,0,19.46,MR,1601488093
134,portland,45.52,-122.68,72.00,63,0,1.01,US,1601487971
153,mount isa,-20.73,139.50,78.80,24,0,14.99,AU,1601488126
186,bardiyah,31.76,25.09,73.04,76,0,12.66,LY,1601488139
222,karratha,-20.74,116.85,71.40,47,0,7.49,AU,1601488154
258,sai buri,6.70,101.62,78.46,84,0,3.56,TH,1601488167
389,benghazi,32.12,20.07,75.33,65,0,14.43,LY,1601487967
407,lardos,36.09,28.02,75.20,53,0,14.99,GR,1601488014
420,salamiyah,35.01,37.05,71.55,78,0,13.27,SY,1601488233

In [37]:
# locations_ideal = ideal_cities_df[["Lat", "Lng"]]
# markers_ideal = gmaps.marker_layer(locations_ideal)
fig

Figure(layout=FigureLayout(height='420px'))